{% include header.html %}
  {% include banner.html %}

  <div class="wrapper">
    {% include page-nav.html %}

  <section>
    <h1>Heading One</h1>
    <p>This automatic page generator is the easiest way to create beautiful pages for all of your projects. Author your page content here using GitHub Flavored Markdown, select a template crafted by a designer, and publish. After your page is generated, you can check out the new branch:</p>

    <p><img src="/images/img_girl.jpg" alt="post1" width="200px" height="200px"></p>

<pre><code>$ cd your_repo_root/repo_name
$ git fetch origin
$ git checkout gh-pages
</code></pre>

    <p>As we do, we're open sourcing the front end code for the new GitHub pages themes. This is just one of the many beautiful themes that can used to dynamically turn your static repo into a beautiful marketing site.  </p>

